html { 
    background-color: #36393F;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

body {
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    width: 100%;
    text-align: center;
}

#navbar {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: #2F3136;
    width: 20%;
    height: 1000px;
    font-family: 'PT Sans', sans-serif;
}

#userInterface {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 40px;
    text-align: left;
}

#currentTitle {
    font-family:'PT sans', sans-serif;
    color: white;
    font-size: 300%;
}

.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #6B768C;
    background: linear-gradient(180deg, rgba(107,118,140,1) 21%, rgba(138,152,181,1) 100%);
    position: fixed;
    left: 0;
    top: 0;
    height: 100px;
    width: 100%;
}

.bannerItems {
    margin-left: 40px;
    font-family: 'Rubik', sans-serif;
    font-size: 160%;
}

.slogan {
    font-size: 60%;
    color: white;
    font-style: italic;
}

#mainNav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    padding: 25px 20px 0px 25px;
    font-family: inherit;
    height: auto;
    width: auto;
    flex: .5;
    font-size: 150%;
    color: white;
}

#projectNav {
    display: flex;
    flex-direction: column;
    text-align: left;
    
    margin-top: 5px;
    font-family: inherit;
    font-size: 175%;
    font-weight: bold;
    height: auto;
    width: auto;
    flex: 2;
    color: white;
}

.mainNavItems {
    width: 230px;
    border-radius: 5px;
    padding: 5px;
}

#inbox::before {
    content: url('./images/inbox.svg');
    padding: 10px;
}
#inbox:hover {
    background-color: #6a6e77 ;
}

#today::before {
    content: url('./images/today.svg');
    padding: 10px;
}
#today:hover {
    background-color: #6a6e77 ;
}

#week::before {
    content: url('./images/week.svg');
    padding: 10px;
}

#week:hover {
    background-color: #6a6e77;
}

#month::before {
    content: url('./images/month.svg');
    padding: 10px;
}

#month:hover {
    background-color: #6a6e77;
}

#projects {
    width: 230px;
    border-radius: 5px;
}

#projects::before {
    content: url('./images/projects.svg');
    padding: 10px;
}

#projects::after {
    content: url('./images/right.svg');
    padding: 10px;
}

#important::before {
    content: url('./images/important.svg');
    padding: 10px;
}

#important:hover {
    background-color: #6a6e77;
}





